// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  // background-image: url("../img/kiruba-side-himalayas.jpg");
  background-image: linear-gradient(to right top, #263942, #24414f, #204a5d, #1a526b, #0e5b7a);
  //background-image: linear-gradient(to right bottom, #10558c, #005c8d, #00628c, #00688a, #006e88, #017b91, #0b889a, #1a95a1, #29aeb6, #39c7cb, #4be1de, #5ffbf1);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  .row{
    align-items: center;
    .dp-pic-holder{
      border-radius: 5px 85px 85px 5px;
      overflow: hidden;
      display: inline-block;
      margin: 200px 0 150px 0;
    }
    .list-inline-item{
      text-align: center;
    }
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    max-width: 625px;
    margin: 0 auto;
    text-align: left;
    .intro-lead-in {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
      &.small-text{
        font-size: 25px;
      }
    }
    .intro-heading {
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 180px;
      padding-bottom: 180px;
      .intro-lead-in {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 52px;
        font-weight: 700;
        line-height: 58px;
        margin-bottom: 15px;
        @include heading-font;
      }
    }
  }
}
