// Styling for the services section
.service-heading {
  margin: 10px 0 40px 0;
  text-transform: none;
  font-size: 1.2rem;
}

section h3.section-subheading {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}

#services {
  .devicons {
    z-index: 1;
    position: relative;
    color: #fff;
    top: 5px;
  }
}
