// Styling for the masthead
header.masthead {
  padding-top: 5rem + 3.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: $white;
  //   background-image: linear-gradient(
  //     to right top,
  //     #263942,
  //     #24414f,
  //     #204a5d,
  //     #1a526b,
  //     #0e5b7a
  //   );
  background-image: url("../../src/assets/img/bg-portfolio-banner.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro {
    text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.4);
  }
  .masthead-subheading {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 15px;
    font-family: $headings-font-family;
  }
  .masthead-heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 0.5rem;
    font-family: $headings-font-family;
    word-break: break-word;
    &.font-lower {
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: normal;
    }
  }
  .prof-pic-container {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.2);
    .circle-profile-pic {
      max-width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  header.masthead {
    padding-top: 8.5rem + 4rem;
    padding-bottom: 10.5rem;
    text-align: left;
    .masthead-subheading {
      font-size: 1.7rem;
      line-height: 2rem;
      margin-bottom: 15px;
    }
    .masthead-heading {
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 3.6rem;
      margin-bottom: 0.5rem;
      &.font-lower {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
    .prof-pic-container {
      width: 330px;
      height: 330px;
    }
  }
}

@include media-breakpoint-up(lg) {
  header.masthead {
    .masthead-subheading {
      text-align: left;
    }
    .masthead-heading {
      font-size: 3.3rem;
      line-height: 4.3rem;
    }
    .prof-pic-container {
      width: 360px;
      height: 360px;
    }
  }
}

@include media-breakpoint-up(xl) {
  header.masthead {
    .masthead-subheading {
      text-align: left;
    }
    .masthead-heading {
      font-size: 3.3rem;
      line-height: 4.3rem;
    }
    .prof-pic-container {
      width: 400px;
      height: 400px;
    }
  }
}
