doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Kirubanandan Kanagaraj

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger.font-kaushan-script(href='#page-top') Kiruba
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-bold.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#skills') Skills
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#workexp') Work Experience
                        //- li.nav-item
                        //-     a.nav-link.js-scroll-trigger(href='#team') Team
                        //- li.nav-item
                        //-     a.nav-link.js-scroll-trigger(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .row.justify-center.align-center
                    .col-md-5
                        .row.text-center.justify-center.mt-2.mb-5
                            .prof-pic-container
                                img.circle-profile-pic(src='assets/img/kiruba.png', alt='Kirubanandan')

                    .col-md-7.intro
                        .masthead-subheading Hello,
                        .masthead-heading.text-uppercase I'm Kirubanandan Kanagaraj, 
                        .masthead-heading.font-lower UX/UI Developer
                        //a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Tell Me More

        // Services
        section#skills.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Skills & Tools
                    h3.section-subheading.text-muted Skill and confidence are an unconquered army.
                .row.text-center.justify-center
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-js.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 JavaScript
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-angular.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 AngularJs
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-react.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 ReactJs
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-html5.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 HTML
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-css3.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 CSS
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-sass.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 SASS
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-figma.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 Figma
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-adobe.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 Adobe Design Tools
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-wordpress.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 Wordpress
                    .col-md-2
                        span.fa-stack.fa-3x
                            i.fas.fa-circle.fa-stack-2x.text-blue
                            i.fab.fa-git-alt.fa-stack-1x.fa-inverse
                        h6.my-3.mb-5 Git

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase.mb-5 Portfolio
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/conversight-webpage.png', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading ConverSight.ai
                                .portfolio-caption-subheading.text-muted UX/UI Design & Development
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/screen-adapt.png', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Adapt.io
                                .portfolio-caption-subheading.text-muted UX/UI Design & Development
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/adapt-prospector.png', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Adapt Prospector
                                .portfolio-caption-subheading.text-muted UX/UI Design & Development
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/screen-owler.png', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Owler
                                .portfolio-caption-subheading.text-muted Front-end Developer
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/screen-vjexp.png', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading VJ Exports
                                .portfolio-caption-subheading.text-muted Design & Code
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/screen-aedindia.png', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading AED India
                                .portfolio-caption-subheading.text-muted Design & Code
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal7')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/screen-amicoco.png', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Amrutha Coconuts
                                .portfolio-caption-subheading.text-muted Design & Code

        // About
        section#workexp.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase.mb-5 WORK EXPERIENCE
                    .row.mb-2
                    //h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                ul.timeline
                    li
                        .timeline-image
                        .timeline-panel
                            .timeline-heading
                                h4.subheading 
                                    | InfraView GmbH 
                                .subheading UI/UX Designer
                            .timeline-body
                                p.text-muted November 2019 - Present
                    li.timeline-inverted
                        .timeline-image
                        .timeline-panel
                            .timeline-heading
                                h4.subheading ConverSight.ai 
                                .subheading UI/UX Designer & UI Developer
                            .timeline-body
                                p.text-muted January 2019 - October 2019
                    li
                        .timeline-image
                        .timeline-panel
                            .timeline-heading
                                h4.subheading Adapt.io
                                subheading UI/UX Designer & UI Developer
                            .timeline-body
                                p.text-muted April 2017 - December 2018
                    li.timeline-inverted
                        .timeline-image
                        .timeline-panel
                            .timeline-heading
                                h4.subheading Owler
                                .subheading Associate Member of Technical Staff
                            .timeline-body
                                p.text-muted October 2014 - March 2017
                    li
                        .timeline-image
                        .timeline-panel
                            .timeline-heading
                                h4.subheading Probeseven
                                subheading Associate Programmer - Web
                            .timeline-body
                                p.text-muted April 2013 - October 2014
                    li.last-empty-item
                        |
                
                .graduation-text.text-center
                    h5
                        | Graduation
                        br
                        | M.Sc(Software Systems)
                        br
                        | 2008-2013

        // Team
        //- section#team.page-section.bg-light
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase Our Amazing Team
        //-             h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //-         .row
        //-             .col-lg-4
        //-                 .team-member
        //-                     img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='')
        //-                     h4 Kay Garland
        //-                     p.text-muted Lead Designer
        //-                     a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                         i.fab.fa-twitter
        //-                     a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                         i.fab.fa-facebook-f
        //-                     a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                         i.fab.fa-linkedin-in
        //-             .col-lg-4
        //-                 .team-member
        //-                     img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='')
        //-                     h4 Larry Parker
        //-                     p.text-muted Lead Marketer
        //-                     a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                         i.fab.fa-twitter
        //-                     a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                         i.fab.fa-facebook-f
        //-                     a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                         i.fab.fa-linkedin-in
        //-             .col-lg-4
        //-                 .team-member
        //-                     img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='')
        //-                     h4 Diana Petersen
        //-                     p.text-muted Lead Developer
        //-                     a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                         i.fab.fa-twitter
        //-                     a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                         i.fab.fa-facebook-f
        //-                     a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                         i.fab.fa-linkedin-in
        //-         .row
        //-             .col-lg-8.mx-auto.text-center
        //-                 p.large.text-muted
        //-                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

        //- // Clients
        //- div.py-5
        //-     .container
        //-         .row
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.d-block.mx-auto(src='assets/img/logos/envato.jpg', alt='')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.d-block.mx-auto(src='assets/img/logos/designmodo.jpg', alt='')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.d-block.mx-auto(src='assets/img/logos/themeforest.jpg', alt='')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.d-block.mx-auto(src='assets/img/logos/creative-market.jpg', alt='')

        //- // Contact
        //- section#contact.page-section
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase Contact Us
        //-             h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //-         form#contactForm(name='sentMessage', novalidate='novalidate')
        //-             .row.align-items-stretch.mb-5
        //-                 .col-md-6
        //-                     .form-group
        //-                         input#name.form-control(type='text', placeholder='Your Name *', required='required', data-validation-required-message='Please enter your name.')
        //-                         p.help-block.text-danger
        //-                     .form-group
        //-                         input#email.form-control(type='email', placeholder='Your Email *', required='required', data-validation-required-message='Please enter your email address.')
        //-                         p.help-block.text-danger
        //-                     .form-group.mb-md-0
        //-                         input#phone.form-control(type='tel', placeholder='Your Phone *', required='required', data-validation-required-message='Please enter your phone number.')
        //-                         p.help-block.text-danger
        //-                 .col-md-6
        //-                     .form-group.form-group-textarea.mb-md-0
        //-                         textarea#message.form-control(placeholder='Your Message *', required='required', data-validation-required-message='Please enter a message.')
        //-                         p.help-block.text-danger
        //-             .text-center
        //-                     #success
        //-                     button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Send Message

        //- // Footer
        //- footer.footer.py-4
        //-     .container
        //-         .row.align-items-center
        //-             .col-lg-4.text-lg-left
        //-                 | Copyright © Your Website 2020
        //-             .col-lg-4.my-3.my-lg-0
        //-                 a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                     i.fab.fa-twitter
        //-                 a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                     i.fab.fa-facebook-f
        //-                 a.btn.btn-dark.btn-social.mx-2(href='#!')
        //-                     i.fab.fa-linkedin-in
        //-             .col-lg-4.text-lg-right
        //-                 a.mr-3(href='#!') Privacy Policy
        //-                 a(href='#!') Terms of Use

        // Portfolio Modals
        // Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Conversight.ai
                                    p.item-intro.text-muted Mobile and Web application — conversational AI platform providing actionable insights by answering question
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/conversight.png', alt='')
                                    p ConverSight.ai delivers conversational insights by answering business questions in human language utilizing real-time data across the enterprise.
                                    p I am currently working here as a UI/UX Designer and Senior UI Developer working on Improving user experience, requirement/product analysis, wireframing, designing with Adobe tools and development with front-end technologies.
                            
                            .col-lg-10
                                .col-lg-12.col-sm-11.mx-auto
                                    .row
                                        .col-lg-6.col-sm-12
                                            img(src="assets/img/portfolio/brand-share-report.png")
                                        .col-lg-6.col-sm-12
                                            img(src="assets/img/portfolio/reports-screenshot-smalldevice.png")
                                        .col-lg-6.col-sm-12
                                            img(src="assets/img/portfolio/conversational page.png")
                                        .col-lg-6.col-sm-12
                                            img(src="assets/img/portfolio/usage-dash.png")
                                ul.list-inline
                                    li Date: October 2019
                                    li Credits & Rights: Thickstat Inida Private Limited
        // Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Adapt.io
                                    p.item-intro.text-muted Online Application/Product - Subscription basis contact solution provider
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/screen-adapt.png', alt='')
                                    p adapt.io is an online application which provides AI based B2B leads information for sales and marketing people.
                                    p A front-end and UX/UI engineer who contributed and responsible for the User Experience of the product. UX wireframing and UI development is my major role. Also, I'm one of the founding team member who built the online application from scratch - contributed to SEO Optimization and A/B testing to find out the better performance of the product.
                                    ul.list-inline
                                        li Rights & Credits: Saleslift Inida Private Limited.

        // Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Saleslift Prospector
                                    p.item-intro.text-muted A chrome extension
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/adapt-prospector.png', alt='')
                                    p A chrome extension designed to use on top of all websites by the user to grab the contact information by one click, which was more easy and handy for them hence its a huge success.
                                    ul.list-inline
                                        li Rights & Credits: Saleslift India Private Limited.
        // Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Owler.com
                                    p.item-intro.text-muted An online application that provides competitive insights for companies.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/screen-owler.png', alt='')
                                    p It crowdsources competitive insights by providing news alerts, company profiles, and polls and allows members to follow, track, and research companies in real time.
                                    
                            .col-lg-10
                                .col-lg-12.col-sm-11.mx-auto
                                    .row
                                        .col-lg-6.col-sm-12
                                            img(src="assets/img/portfolio/owler-product-page.png")
                                        .col-lg-6.col-sm-12
                                            img(src="assets/img/portfolio/owler-email-instantinsight.png")
                                ul.list-inline
                                    li Rights & Credits: Owler India Private Limited
        // Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase VJ Exports
                                    p.item-intro.text-muted A corporate webiste for a Textile company
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/screen-vjexp.png', alt='')
                                    p VJ Exports is a garment wesite to depict who theyu are and their garment infrastructure, services and contact information. I worked for UI design and HTML, CSS Conversion.
                                    ul.list-inline
                                        li Credits & Rights: Probeseven
        // Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase AED India
                                    p.item-intro.text-muted A corporate website – IT solution providing company
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/screen-aedindia.png', alt='')
                                    p Ascent E-digit Solutions is in service since 1991 supplying technological demands of customers in India for small and large businesses, Public sector, Government premises and Homeusers in both retail and distribution mode. I worked for UI design and HTML, CSS Conversion.
                                    ul.list-inline
                                        li Credits & Rights: Probeseven

        // Modal 7
        #portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Amrutha Coconuts
                                    p.item-intro.text-muted Corporate website – Coconut Products
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/screen-amicoco.png', alt='')
                                    p A client project, branding and design work for Amrutha cocnuts to display their product and contact information.
                                    ul.list-inline
                                        li Credits & Rights: Probeseven

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')