// Global styling for this template
body {
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

.page-section {
  padding: 6rem 0;
  h2.section-heading {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-bold {
  font-weight: bold;
}

.text-blue {
  color: #ff376b;
}

@include media-breakpoint-up(md) {
  section {
    padding: 9rem 0;
  }
}

// Highlight color customization

::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
